*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.container{
    border: 3px solid blue;
    margin: 5rem auto;
    display: flex;
    width: 700px;

}

aside{
    background-color: red;
    width: 20vw;
    height: 10rem;
    margin: 5rem 2em;
}

article{
    margin: 5em 1em;
    width: 70vw;
}

h1{
    margin-bottom: 10px;
}

p{
    text-align: justify;
}